---
layout: index
---
<div class="homepage">

  <div class="homepage-container">

    <h2>Political research and analysis</h2>

    <div class="index-cards">
      <h3>{{ site.data.text.blog }}</h3>
      <ul>
        {% for post in site.posts limit:4 %}
          <li>
            <time>{{ post.date | date: site.date_format }}</time>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <p>{{ post.excerpt }}</p>
          </li>
        {% endfor %}
      </ul>
      <div>
        <a href="/blog/">
          More EU blog posts
          <svg class="deco-icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="index-cards">
      <h3>{{ site.data.text.publications }}</h3>
      <ul>
        {% assign books = site.data.books | sort: 'date' | reverse %}
        {% for book in books limit:4 %}
        <li>
          <time>{{ book.date }}</time>
          <a href="{{ book.url | prepend: '/' }}">{{ book.title }}</a>
          <p>{{ book.description }}</p>
        </li>
        {% endfor %}
      </ul>
      <div>
        <a href="/books/">
          More books and publications
          <svg class="deco-icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>

  <div class="homepage-container">

    <h2>Coding and web development</h2>

    <div class="index-cards">
      <h3>{{ site.data.text.codelog }}</h3>
      <ul>
        {% assign codelogs = site.codelog | sort: 'date' | reverse %}
        {% for codelog in codelogs limit:2 %}
          <li>
            <time>{{ codelog.date | date: site.date_format }}</time>
            <a href="{{ codelog.url | relative_url }}">{{ codelog.title }}</a>
            <p>{{ codelog.excerpt }}</p>
          </li>
        {% endfor %}
      </ul>
      <div>
        <a href="{{ '/codelog/' | prepend: site.url }}">
          All {{ site.data.text.codelog }} entries
          <svg class="deco-icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="index-cards">
      <h3>{{ site.data.text.schemes }}</h3>
      <ul>
        {% assign schemes = site.data.themes | sort: 'date' | reverse %}
        {% for scheme in schemes limit:2 %}
          <li>
            <a class="schemecard" href="{{ scheme.url | prepend: '/' }}">
              <div>
                <span>
                  {{ scheme.name }}
                </span>
              </div>
              <div class="paletterow">
                <i class="paletteline" style="{{ scheme.palette.dbg | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.dhl | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.dt2 | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.dt1 | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.lbg | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.lhl | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.lt2 | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.lt1 | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.red | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.ora | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.yel | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.gre | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.cya | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.blu | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.vio | prepend: 'background: #' }}"></i>
                <i class="paletteline" style="{{ scheme.palette.mag | prepend: 'background: #' }}"></i>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div>
        <a href="{{ '/schemes/' | prepend: site.url }}">
          All Prot16 schemes
          <svg class="deco-icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="index-cards">
      <h3>Vim plugins (on GitHub)</h3>
      <ul>
        <li>
          <a href="https://github.com/protesilaos/prot16-vim">Prot16 themes for Vim</a>
          <p>The entire Prot16 collection for terminals and GUIs. Available in distinct light and dark variants.</p>
        </li>
        <li>
          <a href="https://github.com/protesilaos/prot16-vim-airline">Prot16 themes for Vim Airline</a>
          <p>The Prot16 themes for the popular Vim Airline module.</p>
        </li>
      </ul>
    </div>

    <div class="index-cards">
      <h3>{{ site.data.text.themes }} (on GitLab)</h3>
      <ul>
        <li>
          <a href="https://gitlab.com/protesilaos/jekyll-akademos">Akademos experimental version</a>
          <p>Minimalist, mobile-first and single column theme for Jekyll blogs.</p>
        </li>
        <li>
          <a href="https://protesilaos.gitlab.io/jekyll-bionis/">Bionis stable beta</a>
          <p>Minimalist, mobile-first theme for Jekyll. Two-column view on desktop.</p>
        </li>
      </ul>
    </div>

  </div>

</div>
