---
layout: index-wide
title: "Little Guide to the European Union"
subtitle: "On the specifics of the European polity"
excerpt: "An in-depth examination of European politics and the European integration process."
permalink: /euguide/
breadcrumbs: true
---

{% assign euguides = site.books | where: "flag", "euguide" %}

<div class="books-meta">
  <p>Published: <span>{{ site.data.text.euguide.datefull }}</span><br/>Book version: <span>{{ site.data.text.euguide.version }}</span></p>

  <div class="books-options">
    <a class="books-button read-online" href="{{ '/euguide/preface/'  | prepend: site.url }}">
      <svg class="deco-icon icon-book">
        <use xlink:href="#icon-book"></use>
      </svg>
      Read online
    </a>
    <a class="books-button read-offline" href="{{ '/euguide/print/'  | prepend: site.url }}">
      <svg class="deco-icon icon-print">
        <use xlink:href="#icon-print"></use>
      </svg>
      Print version
    </a>
  </div>
</div>

<div class="index-cards">
  <h2>Contents</h2>
  <div>
    <ul>
      {% for euguide in euguides %}
        <li>
          <a href="{{ euguide.url | relative_url }}">{{ forloop.index }}. {{ euguide.title }}</a>
          <p>{{ euguide.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include booksnav.html %}
