<div class="authorbox">
    <div class="authorbox-inner">

        <div class="authorbox-avatar">
            <img src="{{ '/images/self/prot_portrait_avatar.jpg' | absolute_url }}" alt="Protesilaos profile photo"/>
        </div>

        <div class="authorbox-info">
            <h2>{{ site.title }}</h2>
            <p>{{ site.description }}<br/>
                <a href="{{ '/author/' | absolute_url }}">Full profile
                    <svg class="deco-icon icon-arrow-right">
                        <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                </a>
            </p>
        </div>

    </div>
</div>
