<footer class="footer">
    
    <nav class="footer-menu" aria-label="Footer social links menu">

        {% include social.svg %}

        {% assign profiles = site.data.social %}
        
        <ul>

            <li>
                Follow:
            </li>

        {% for profile in profiles %}

            <li>
                <a title="{{ profile.name }}" href="{{ profile.url }}" aria-label="{{ profile.name }}">
                    <svg class="icon {{ profile.class }}">
                        <use xlink:href="#{{ profile.class }}"></use>
                    </svg>
                    {{ profile.name }}
                </a>
            </li>

        {% endfor %}

        </ul>
    </nav>

  <div class="copyright">
    <small>
      (c) {{ site.time | date: '%Y' }} Protesilaos Stavrou. <a rel="license" href="{{ '/license/' | prepend: site.url }}">Some rights reserved</a>.
    </small>
  </div>

    <div class="donation-box">
        <p><span class="donation-prompt">Donations</span> If my work has been helpful and you want to buy me a drink, please do so via <a href="https://www.paypal.me/protesilaos">Paypal</a>.</p>
    </div>

</footer>
