<header class="headerbar">
  <div class="headerbar-inner">

    <a class="skip-link screen-reader-text" href="#content">
      Skip to content
    </a>

    <nav class="headerbar-navigation" aria-label="Main menu">
      {% include navigation.html %}
    </nav>

    <div class="headerbar-header">
      <h1 class="h1-home">
        {{ site.title }}
      </h1>
    </div>

    <div class="headerbar-columns">
      <div class="headerbar-description">
        {{ site.data.text.description }}
      </div>

      <div>
        <nav class="headerbar-social menu-social" aria-label="Social links menu">
          {% include social.html %}
        </nav>
      </div>

    </div>

  </div>
</header>
