<div class="visualorder clearfix">
  <div>
  <p>Primary</p>
    <i class="paletteblock primary1-background lbg"></i>
    <i class="paletteblock primary2-background lbg"></i>
    <i class="paletteblock primary3-background lbg"></i>
  </div>
  <div>
    <p>Secondary</p>
    <i class="paletteblock secondary1-background lbg"></i>
    <i class="paletteblock secondary2-background lbg"></i>
  </div>
  <div>
    <p>Tertiary</p>
    <i class="paletteblock tertiary1-background lbg"></i>
    <i class="paletteblock tertiary2-background lbg"></i>
    <i class="paletteblock tertiary3-background lbg"></i>
  </div>
  <br/>
  <small>
    Primary: Class names, variables, functions, etc.<br/>
    Secondary: Measurement units, strings, support functions, etc.<br/>
    Tertiary: Cursor, support classes, etc.
  </small>
</div>
