
        <div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="c">#!/bin/bash</span>

<span class="c"># Random bits and pieces</span>
<span class="nv">match</span><span class="o">=</span><span class="k">$(</span><span class="nb">echo</span> <span class="s2">"</span><span class="k">${</span><span class="nv">array</span><span class="p">[@]</span>:0<span class="k">}</span><span class="s2">"</span> | grep -o <span class="k">${</span><span class="nv">schemeslug</span><span class="k">})</span>  

<span class="c"># Do the work if there is a match</span>
<span class="k">if</span> <span class="o">[</span> ! -z <span class="k">${</span><span class="nv">match</span><span class="k">}</span> <span class="o">]</span>; <span class="k">then
	</span><span class="nv">scheme</span><span class="o">=</span><span class="k">${</span><span class="nv">schemeslug</span><span class="k">}</span>
	<span class="nb">echo</span> <span class="s2">"Found </span><span class="k">${</span><span class="nv">scheme</span><span class="k">}</span><span class="s2">"</span>
	<span class="nb">echo</span> <span class="s2">"Accepted commit message '</span><span class="k">${</span><span class="nv">commit</span><span class="k">}</span><span class="s2">'"</span>
	<span class="nb">echo</span> <span class="s2">"Message '</span><span class="k">${</span><span class="nv">apmsemver</span><span class="k">}</span><span class="s2">'"</span>
    
    <span class="c"># Work goes here ...</span>

<span class="c"># Error message if scheme name does not exist</span>
<span class="k">else
	</span><span class="nb">echo</span> <span class="s2">"</span><span class="k">${</span><span class="nv">redbg</span><span class="k">}${</span><span class="nv">whitefg</span><span class="k">}</span><span class="s2">Error</span><span class="k">${</span><span class="nv">colourreset</span><span class="k">}</span><span class="s2"> some message"</span>
	<span class="nb">echo</span> <span class="s2">"Try any one of these instead"</span>
	<span class="nb">echo</span> <span class="k">${</span><span class="nv">array</span><span class="k">}</span>
	<span class="nb">exit </span>1
<span class="k">fi</span>

<span class="c"># here is how to stop the server</span>
<span class="k">for </span>pid <span class="k">in</span> <span class="sb">`</span>ps aux | grep <span class="s1">'node ../server.js'</span> | awk <span class="s1">'{print $2}'</span><span class="sb">`</span> ; <span class="k">do
  </span>sudo <span class="nb">kill</span> -9 <span class="nv">$pid</span> 2&gt; /dev/null
<span class="k">done

</span><span class="nb">exit </span>0
</code></pre>
</div>


        <div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="c">#!/bin/bash</span>

<span class="c"># Random bits and pieces</span>
<span class="nv">match</span><span class="o">=</span><span class="k">$(</span><span class="nb">echo</span> <span class="s2">"</span><span class="k">${</span><span class="nv">array</span><span class="p">[@]</span>:0<span class="k">}</span><span class="s2">"</span> | grep -o <span class="k">${</span><span class="nv">schemeslug</span><span class="k">})</span>

<span class="c"># Do the work if there is a match</span>
<span class="k">if</span> <span class="o">[</span> ! -z <span class="k">${</span><span class="nv">match</span><span class="k">}</span> <span class="o">]</span>; <span class="k">then
	</span><span class="nv">scheme</span><span class="o">=</span><span class="k">${</span><span class="nv">schemeslug</span><span class="k">}</span>
	<span class="nb">echo</span> <span class="s2">"Found </span><span class="k">${</span><span class="nv">scheme</span><span class="k">}</span><span class="s2">"</span>
	<span class="nb">echo</span> <span class="s2">"Accepted commit message '</span><span class="k">${</span><span class="nv">commit</span><span class="k">}</span><span class="s2">'"</span>
	<span class="nb">echo</span> <span class="s2">"Message '</span><span class="k">${</span><span class="nv">apmsemver</span><span class="k">}</span><span class="s2">'"</span>

    <span class="c"># Work goes here ...</span>

<span class="c"># Error message if scheme name does not exist</span>
<span class="k">else
	</span><span class="nb">echo</span> <span class="s2">"</span><span class="k">${</span><span class="nv">redbg</span><span class="k">}${</span><span class="nv">whitefg</span><span class="k">}</span><span class="s2">Error</span><span class="k">${</span><span class="nv">colourreset</span><span class="k">}</span><span class="s2"> some message"</span>
	<span class="nb">echo</span> <span class="s2">"Try any one of these instead"</span>
	<span class="nb">echo</span> <span class="k">${</span><span class="nv">array</span><span class="k">}</span>
	<span class="nb">exit </span>1
<span class="k">fi</span>

<span class="c"># here is how to stop the server</span>
<span class="k">for </span>pid <span class="k">in</span> <span class="sb">`</span>ps aux | grep <span class="s1">'node ../server.js'</span> | awk <span class="s1">'{print $2}'</span><span class="sb">`</span> ; <span class="k">do
  </span>sudo <span class="nb">kill</span> -9 <span class="nv">$pid</span> 2&gt; /dev/null
<span class="k">done

</span><span class="nb">exit </span>0
</code></pre>
</div>

<div class="language-scss highlighter-rouge"><pre class="highlight"><code><span class="c1">// Random elements
</span><span class="nv">$weight</span><span class="p">:</span> <span class="nb">bold</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$color</span><span class="p">:</span> <span class="no">red</span><span class="p">;</span>

<span class="k">@mixin</span> <span class="nf">example</span><span class="p">(</span><span class="nv">$arg1</span><span class="o">,</span> <span class="nv">$arg2</span><span class="p">)</span> <span class="p">{</span>
    <span class="nl">background-color</span><span class="p">:</span> <span class="nv">$arg1</span><span class="p">;</span>
    <span class="nl">color</span><span class="p">:</span> <span class="nv">$arg2</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">%placeholder</span> <span class="p">{</span>
    <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
    <span class="nl">margin</span><span class="p">:</span> <span class="m">0</span> <span class="nb">auto</span><span class="p">;</span>
<span class="p">}</span>

<span class="c1">// FIXME a comment is here
</span><span class="nc">.class</span> <span class="p">{</span>
    <span class="nl">font-family</span><span class="p">:</span> <span class="s1">'A string'</span><span class="o">,</span> <span class="nb">sans-serif</span><span class="p">;</span>
    <span class="nl">font-size</span><span class="p">:</span> <span class="m">16px</span><span class="p">;</span>
    <span class="nl">font-weight</span><span class="p">:</span> <span class="nv">$weight</span><span class="p">;</span>

    <span class="nv">%extend</span> <span class="nt">placeholder</span><span class="p">;</span>

    <span class="k">@include</span> <span class="nd">example</span><span class="p">(</span><span class="mh">#123123</span><span class="o">,</span> <span class="no">white</span><span class="p">);</span>

    <span class="err">&amp;</span><span class="p">:</span><span class="o">:</span><span class="n">before</span><span class="o">,</span>
    <span class="o">&amp;::</span><span class="n">after</span> <span class="p">{</span>
        <span class="nl">content</span><span class="p">:</span> <span class="s2">""</span><span class="p">;</span>
        <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
        <span class="nl">width</span><span class="p">:</span> <span class="nf">calc</span><span class="p">(</span><span class="nf">calc</span><span class="p">(</span><span class="m">100%</span> <span class="o">-</span> <span class="m">5rem</span><span class="p">)</span> <span class="o">-</span> <span class="m">10px</span><span class="p">);</span>
        <span class="nl">height</span><span class="p">:</span> <span class="m">10px</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">&amp;</span><span class="nd">:not</span><span class="o">(</span><span class="nc">.other-class</span><span class="o">)</span> <span class="p">{</span>
        <span class="nl">border-bottom</span><span class="p">:</span> <span class="nb">thin</span> <span class="nb">solid</span> <span class="nf">darken</span><span class="p">(</span><span class="nv">$color</span><span class="o">,</span> <span class="m">3%</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</code></pre>
</div>

<div class="language-scss highlighter-rouge"><pre class="highlight"><code><span class="c1">// Random elements
</span><span class="nv">$weight</span><span class="p">:</span> <span class="nb">bold</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
<span class="nv">$color</span><span class="p">:</span> <span class="no">red</span><span class="p">;</span>

<span class="k">@mixin</span> <span class="nf">example</span><span class="p">(</span><span class="nv">$arg1</span><span class="o">,</span> <span class="nv">$arg2</span><span class="p">)</span> <span class="p">{</span>
    <span class="nl">background-color</span><span class="p">:</span> <span class="nv">$arg1</span><span class="p">;</span>
    <span class="nl">color</span><span class="p">:</span> <span class="nv">$arg2</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">%placeholder</span> <span class="p">{</span>
    <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
    <span class="nl">margin</span><span class="p">:</span> <span class="m">0</span> <span class="nb">auto</span><span class="p">;</span>
<span class="p">}</span>

<span class="c1">// FIXME a comment is here
</span><span class="nc">.class</span> <span class="p">{</span>
    <span class="nl">font-family</span><span class="p">:</span> <span class="s1">'A string'</span><span class="o">,</span> <span class="nb">sans-serif</span><span class="p">;</span>
    <span class="nl">font-size</span><span class="p">:</span> <span class="m">16px</span><span class="p">;</span>
    <span class="nl">font-weight</span><span class="p">:</span> <span class="nv">$weight</span><span class="p">;</span>

    <span class="nv">%extend</span> <span class="nt">placeholder</span><span class="p">;</span>

    <span class="k">@include</span> <span class="nd">example</span><span class="p">(</span><span class="mh">#123123</span><span class="o">,</span> <span class="no">white</span><span class="p">);</span>

    <span class="err">&amp;</span><span class="p">:</span><span class="o">:</span><span class="n">before</span><span class="o">,</span>
    <span class="o">&amp;::</span><span class="n">after</span> <span class="p">{</span>
        <span class="nl">content</span><span class="p">:</span> <span class="s2">""</span><span class="p">;</span>
        <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span>
        <span class="nl">width</span><span class="p">:</span> <span class="nf">calc</span><span class="p">(</span><span class="nf">calc</span><span class="p">(</span><span class="m">100%</span> <span class="o">-</span> <span class="m">5rem</span><span class="p">)</span> <span class="o">-</span> <span class="m">10px</span><span class="p">);</span>
        <span class="nl">height</span><span class="p">:</span> <span class="m">10px</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">&amp;</span><span class="nd">:not</span><span class="o">(</span><span class="nc">.other-class</span><span class="o">)</span> <span class="p">{</span>
        <span class="nl">border-bottom</span><span class="p">:</span> <span class="nb">thin</span> <span class="nb">solid</span> <span class="nf">darken</span><span class="p">(</span><span class="nv">$color</span><span class="o">,</span> <span class="m">3%</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</code></pre>
</div>
