.breadcrumbs {
    @extend %clearfix;

    @include fluid-font-size($msize);
    @include border(top, $border-width-medium, solid, $border-color-dark-1);
    @include border(bottom, $border-width-medium, solid, $border-color-dark-1);

    background: $basebgalt;
    padding: $space-1;
    margin: $vertical-rhythm-1 0;

    .breadcrumbs-path-link {
        color: $bigtextlinkfg;
        font-weight: 700;

        &:hover,
        &:focus,
        &:active {
            color: $bigtextlinkfghover;
        }
    }

    .breadcrumbs-divider {
        font-weight: 700;
    }

    .breadcrumbs-current-item-title {
        font-style: italic;
    }
}
