.breadcrumbs {
    @extend %clearfix;

    background: $lhl;
    border-bottom: medium solid $dark2;
    border-top: medium solid $dark2;
    font-family: $fontui;
    font-size: $msize;
    margin: ($vrythm * 2) 0 $vrythm;
    padding: $sone;

    main & {
        a {
            border-bottom: none;
            font-weight: 700;

            &:hover,
            &:focus,
            &:active {
                border-bottom: none;
            }
        }
    }

    svg {
        margin: 0 ($sone / 4);
    }

    span {
        font-style: italic;
    }
}
