.donation-box {
  display: block;
  margin: 0 auto;
  padding: $sone;
  max-width: $measure;
}

.donation-box-inner {
  font-family: $fontui;
  font-size: $msize;
  background: $pagebg;
  color: $lt1;
  padding: ($vrythm * 1.5);
  border-left: thick solid $secondary1;

  @include shadow;

  @include desktop {
    @include bigblock;
  }

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 700;
    border-bottom: thin solid $primary1;

    &:hover,
    &:active {
      color: $tertiary1;
      border-bottom: thin solid $tertiary1;
    }
  }
}
