.footer {
    @extend %clearfix;

    @include tablet {
        padding: $vrythm 0;
    }

    @include desktop {
        font-size: $msize;
    }

    background: $dbg;
    font-family: $fontui;
    font-size: $ssize;
    margin-top: $vrythm;
    padding: ($vrythm / 2) 0;
}

.footer-menu {
    color: $dt1;
    display: block;
    margin: 0 auto;
    max-width: $measure;
    padding: $sone;

    @include desktop {
        max-width: $measure-xl;
    }

    &:nth-of-type(n+2) {
        border-top: thin solid $dhl;
    }

    ul {
        display: inline;
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;

            + li {
                @include tablet {
                    margin-left: $sone;
                }

                margin-left: $shalf;
            }
        }
    }

    .icon {
        height: $ssize;
        padding-right: $sone / 4;
        vertical-align: middle;
        width: $ssize;
    }
}

.copyright {
    border-top: thin solid $dhl;
    color: $dt1;
    display: block;
    margin: 0 auto;
    max-width: $measure;
    padding: $sone;

    @include desktop {
        max-width: $measure-xl;
    }

    a {
        font-weight: 700;
    }
}

.donation-box {
    @extend .copyright;

    .deco-icon {
        color: $mag;
        stroke-width: 5px;
    }

    .donation-prompt {
        color: $mag;
        font-weight: 700;
    }
}
