.footnotes {
    @include desktop {
        font-size: $ssize;
    }

    border-top: thin solid $dark3;
    font-family: $fontui;
    font-size: $ssize;
    margin: ($vrythm * 2) 0 0;
    padding: $vrythm 0 0;

    p {
        margin-bottom: $vrythm / 2;
    }
}
