.footnotes {
  font-family: $fontui;
  font-size: $ssize;
  margin: ($vrythm * 2) 0 0;
  padding: $vrythm 0 0;
  border-top: thin solid $dark3;

  @include desktop {
    font-size: $msize;
  }

  p {
    margin-bottom: $vrythm / 2;
  }
}
