.footer {
    @extend %clearfix;

    @include fluid-font-size($ssize);

    @include tablet {
        padding: $vertical-rhythm-0 0;
    }

    background: $brandbg;
    color: $brandfg;
    margin-top: $vertical-rhythm-0;
    padding: $space-0 0;

    a {
        color: $brandlink;

        &:hover,
        &:active {
            color: $brandlinkalt;
        }

        &:focus {
            color: $brandfg;
        }
    }
}

.footer-menu {
    @include fluid-width-measure;

    color: $brandbg;
    display: block;
    margin: 0 auto;
    padding: $space-1;

    &:nth-of-type(n+2) {
        @include border(top, $border-width-thin, solid, $border-color-light-2);
    }

    ul {
        display: inline;
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;

            + li {
                @include tablet {
                    margin-left: $space-1;
                }

                margin-left: $space-0;
            }
        }
    }
}

.copyright {
    @include fluid-width-measure;
    @include border(top, $border-width-thin, solid, $border-color-light-2);

    color: $brandfg;
    display: block;
    margin: 0 auto;
    padding: $space-1;

    a {
        font-weight: 700;
    }
}

.donation-box {
    @extend .copyright;

    .deco-icon {
        color: $brandhighlight;
        stroke-width: 5px;
    }

    .donation-prompt {
        color: $brandhighlight;
        font-weight: 700;
    }
}
