.footer {
  font-family: $fontui;
  padding: ($vrythm / 2) 0;
  background: $bg;

  @extend %clearfix;

  @include tablet {
    padding: $vrythm 0;
  }
}

.footer-menu {
	display: block;
    font-size: $ssize;
    color: $text1;
	padding: $sone;
  	margin: 0 auto;
  	max-width: $measure;

	ul {
		display: inline;
        list-style-type: none;
        padding-left: 0;

		li {
			display: inline-block;
			
			+ li {
                margin-left: $shalf;

                @include tablet {
                    margin-left: $sone;
                }
            }	
		}
	}

	.icon {
		padding-right: $sone / 4;
    	width: $ssize;
    	height: $ssize;
		vertical-align: middle;
  	}
}

.copyright {
	display: block;
    font-size: $ssize;
  	color: $text1;
	padding: $sone;
  	margin: 0 auto;
  	max-width: $measure;
  	border-top: thin solid $dark1;

    a {
        font-weight: 700;
    }
}

.donation-box {
    @extend .copyright;

    .donation-prompt {
        display: inline-block;
        color: $lbg;
        background: $secondary1;
        padding: 0 ($sone * 0.25);
    }
}
