.authorbox.guestbox {
    @include desktop {
        float: right;
        margin-left: $vrythm;
        margin-right: -#{($measure-xl - $measure) / 2};
        margin-top: 0;
        width: ($measure / 2) - ($sone * 2) - $vrythm;
    }

    background: $lbg;
    display: block;
    font-family: $fontui;
    font-size: $ssize;
    margin: $vrythm 0;
    padding: $sone * 2;

    .authorbox-title {
        color: $text1;
        font-size: $msize;
        margin: 0 0 ($vrythm / 2);
    }
}
