.header {
    @extend %clearfix;

    background: $brandbg;
    color: $brandfg;

    a {
        color: $brandlink;

        &:hover,
        &:active {
            color: $brandlinkalt;
        }
    }
}

.header-inner {
    @extend %clearfix;

    @include fluid-font-size($msize);

    @include tablet {
        padding: $vertical-rhythm-2 $space-1;
    }

    @include desktop {
        max-width: $measure-xl;
    }

    font-size: $msize;
    text-align: left;
    padding: $vertical-rhythm-0 $space-1;
    margin: 0 auto;
    max-width: $measure;

    .header-logo {
        @include tablet {
            display: inline-block;
            float: left;
            width: calc(100% * 0.3333);
        }

        display: block;
        font-weight: 700;
        text-transform: none;
        padding: 0;
    }

    .header-navigation {
        @include tablet {
            display: inline-block;
            float: left;
            height: auto;
            padding: 0;
            text-align: right;
            width: calc(100% * 0.6666);
        }

        height: $vertical-rhythm-0;
        padding: $space-1 0;
        width: auto;

        ul {
            @include tablet {
                margin: 0;
            }

            display: inline;
            list-style-type: none;
            margin: $space-0 0 0;
            padding: 0;

            li {
                @include tablet {
                    line-height: $vertical-rhythm-0;
                    text-transform: none;
                }

                display: inline-block;
                line-height: $space-2;
                margin-right: $space-1;

                &:last-child {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
