.homepage {
    @extend %clearfix;

    @include desktop {
        max-width: $measure-xl;
        padding: $vrythm 0;
    }

    display: block;
    font-family: $fontui;
    margin: 0 auto;
    max-width: $measure;
    padding: $sone $shalf $shalf;

    .homepage-container {
        + .homepage-container {
            margin-top: $vrythm * 2;
        }

        h2 {
            &::after {
                content: "";
                display: block;
                background: $secondary2;
                width: calc(100% / 5);
                max-width: 250px;
                height: 3px;
                margin: $vrythm 0;
            }
        }
    }
}
