.homepage {
  font-family: $fontui;
  display: block;
  margin: 0 auto;
  padding: $sone $shalf $shalf;
  max-width: $measure;

  @extend %clearfix;

  @include desktop {
    padding: $vrythm 0;
    max-width: $measure-xl;
  }

  .homepage-container {
    + .homepage-container {
      margin-top: $vrythm * 2;
    }

    h2 {
      border-bottom: thick solid $dark2;
    }
  }
}
