a {
    color: $primary1;
    text-decoration: none;

    &:not(.active) {
        @include transition;
    }

    &:hover,
    &:active {
        color: $secondary2;
        text-decoration: underline;
    }

    &:not(.skip-link):focus {
        background: transparentize($tertiary3, 0.9);
        color: $tertiary3;
        outline: thin dashed $tertiary3;
    }

    &.active {
        border-bottom: 2px solid $tertiary2;
        padding-bottom: $shalf;
        color: $tertiary2;
    }

    article:not(.packages) &,
    .homepage-container p &,
    .index p & {
        &[href^="#fn"] {
            border-bottom: none;
            font-weight: 400;

            &::before {
                @extend %pseudomark;

                content: '[';
                font-weight: 400;
            }

            &::after {
                @extend %pseudomark;

                content: ']';
                font-weight: 400;
            }
        }
    }
}
