.medialayer {
    padding: $vrythm 0;
    width: 100%;
}

.mediaframe {
    margin: 0 auto;
    max-width: $measure;

    @include shadow;

    @include desktop {
        max-width: $measure-xl;
    }
}

.mediawrapper {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
