.nextprev {
    @extend %clearfix;

    @include desktop {
        @include bigblock-outer;
    }

    display: block;
    margin: $vrythm auto;
    overflow: hidden;

    div {
        display: block;
        padding: ($vrythm * 2) 0;

        &:first-child {
            padding: $vrythm 0;
        }

        + div {
            border-top: thin solid $dark1;
            padding-top: $vrythm;

            &:last-child {
                padding: $vrythm 0;
            }
        }

        &:last-child {
            padding: ($vrythm * 2) 0;
        }
    }

    span {
        color: $text1;
        margin-right: $sone / 2;
    }

    a {
        font-weight: 700;
    }
}
