// Helper classes used in `_includes/prot16-colourorder.html`
.dbg {
    color: $dbg;
}

.lbg {
    color: $lbg;
}

.primary1-background {
    background-color: $primary1;
}

.primary2-background {
    background-color: $primary2;
}

.primary3-background {
    background-color: $primary3;
}

.secondary1-background {
    background-color: $secondary1;
}

.secondary2-background {
    background-color: $secondary2;
}

.tertiary1-background {
    background-color: $tertiary1;
}

.tertiary2-background {
    background-color: $tertiary2;
}

.tertiary3-background {
    background-color: $tertiary3;
}

// Index pages
.paletterow {
    @extend %clearfix;

    display: block;
    margin: ($vrythm / 2) 0;
}

.paletteline {
    @extend %colourblock;

    @include tablet {
        height: $measure / 8;
        width: $measure / 8;

        // Ad hoc measurement for index cards
        .index-cards & {
            height: ($measure / 16) - ($sone * 0.6);
            width: ($measure / 16) - ($sone * 0.6);
        }
    }

    @include desktop {
        // Ad hoc measurement for index cards
        .index-cards & {
            height: ($measure-xl / 8) - ($sone * 1.25);
            width: ($measure-xl / 8) - ($sone * 1.25);
        }
    }

    height: $sone * 2.5;
    width: 12.5%;
}

// Project pages

.palette {
    @extend .paletterow;

    font-family: $mono;
    text-transform: lowercase;

    div {
        @extend %clearfix;

        display: block;

        + div {
            margin-top: $sone / 32;
        }

        p {
            @include desktop {
                font-size: $msize;
            }

            font-family: $fontui;
            font-size: $ssize;
            margin: 0;
            padding: $sone / 10;
        }
    }

    small {
        display: block;
        font-family: $fontui;
    }
}

.paletteblock {
    @extend %colourblock;

    @include tablet {
        margin: $sone / 16;
        height: (($measure - 6rem) / 4) - (($sone * 4) / 16);
        width: (($measure - 6rem) / 4) - (($sone * 4) / 16);
        line-height: (($measure - 6rem) / 4) - (($sone * 4) / 16);
    }

    @include desktop {
        font-size: $msize;
    }

    font-size: $xxssize;
    font-style: normal;
    height: $sone * 4;
    line-height: $sone * 4;
    text-align: center;
    width: 25%;
}

.palette-terminal {
    @extend .paletterow;

    div {
        @extend %clearfix;

        display: block;

        + div {
            margin-top: $vrythm;
        }

        &.palette-terminal-termvalues {
            font-family: $mono;
        }

        &.palette-terminal-termcolours {
            font-family: $mono;
            text-transform: lowercase;
        }

        p {
            font-size: inherit;
        }
    }

    .paletteblock {
        @extend .paletteblock;

        @include tablet {
            // NOTE 6rem is to compensate for the added padding of mixin bigblock-outer
            margin: $sone / 16;
            height: (($measure - 6rem) / 8) - ($sone / 16) - ($sone / 16);
            line-height: (($measure - 6rem) / 8) - ($sone / 16) - ($sone / 16);
            width: (($measure - 6rem) / 8) - ($sone / 16) - ($sone / 16);
        }
    }
}

// Visual order
.visualorder {
    @extend .palette;
}
