.packages {
  font-family: $fontui;
  margin: $vrythm 0;

  div {
    color: $lt1;
    background: $lbg;
    text-align: center;
    padding: $vrythm 0;

    @include shadow;

    @include desktop {
      float: left;
      width: $measure / 2;
      display: inline-block;
    }

    + div {
      color: $dt1;
      background: $dbg;

      a {
        border: thin solid $light2;

        &:hover {
          color: $dbg;
        }
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
      padding: $shalf $sone;
      border: thin solid $dark2;

      @include transition;
      @include radius(3%);

      + a {
        margin-left: $sone;
      }

      &:hover {
        text-decoration: none;
        background: $primary1;
        color: $lbg;
        border: thin solid $primary1;
      }
    }

    span {
      display: block;
      font-size: $ssize;
      margin: $vrythm 0 ($vrythm / 2);

      @include tablet {
        font-size: $msize;
      }
    }

    code {
      font-size: $xxssize;

      @include tablet {
        font-size: $ssize;
      }

      &::before {
        content: "$";
        display: inline-block;
        font-size: inherit;
        padding-right: $sone / 2;
        color: $primary3;
      }
    }
  }
}

.codeblocks {
  margin: $vrythm 0;

  div {
    .highlight {
      color: $lt1;
      background: $lbg;

      @include shadow;

      .c,
      .cm,
      .cp,
      .c1,
      .cs,
      .gp {
        color: $lt2;
      }

      .o,
      .ge,
      .gh,
      .gi,
      .gu,
      .nl,
      .nn,
      .ow,
      .w {
        color: $lt1;
      }
    }

    &:nth-of-type(2n) {
      .highlight {
        color: $dt1;
        background: $dbg;

        .c,
        .cm,
        .cp,
        .c1,
        .cs,
        .gp {
          color: $dt2;
        }

        .o,
        .ge,
        .gh,
        .gi,
        .gu,
        .nl,
        .nn,
        .ow,
        .w {
          color: $dt1;
        }
      }
    }
  }
}
