// Helper classes used in `_includes/prot16-colourorder.html`
.dbg {
  color: $dbg;
}

.lbg {
  color: $lbg;
}

.primary1-background {
  background-color: $primary1;
}

.primary2-background {
  background-color: $primary2;
}

.primary3-background {
  background-color: $primary3;
}

.secondary1-background {
  background-color: $secondary1;
}

.secondary2-background {
  background-color: $secondary2;
}

.tertiary1-background {
  background-color: $tertiary1;
}

.tertiary2-background {
  background-color: $tertiary2;
}

.tertiary3-background {
  background-color: $tertiary3;
}

// Index pages
.paletterow {
  display: block;
  margin: ($vrythm / 2) 0;

  @extend %clearfix;
}

.paletteline {
  width: 12.5%;
  height: $sone * 2.5;

  @extend %colourblock;

  @include tablet {
    width: $measure / 8;
    height: $measure / 8;

    // Ad hoc measurement for index cards
    .index-cards & {
      width: ($measure / 16) - ($sone * 0.6);
      height: ($measure / 16) - ($sone * 0.6);
    }
  }

  @include desktop {
    // Ad hoc measurement for index cards
    .index-cards & {
      width: ($measure-xl / 8) - ($sone * 1.25);
      height: ($measure-xl / 8) - ($sone * 1.25);
    }
  }
}

// Project pages

.palette {
  font-family: $mono;
  text-transform: lowercase;

  @extend .paletterow;

  div {
    display: block;

    @extend %clearfix;

    + div {
      margin-top: $sone / 32;
    }

    p {
      margin: 0;
      padding: $sone / 10;
      font-family: $fontui;
      font-size: $ssize;
    }
  }

  small {
    display: block;
    font-family: $fontui;
  }
}

.paletteblock {
  width: 25%;
  height: $sone * 4;
  line-height: $sone * 4;
  font-size: $xxssize;
  font-style: normal;
  text-align: center;

  @extend %colourblock;

  @include tablet {
    margin: $sone / 32;
    width: ($measure / 4) - ($sone / 32) - ($sone / 32);
    height: ($measure / 4) - ($sone / 32) - ($sone / 32);
    line-height: ($measure / 4) - ($sone / 32) - ($sone / 32);
  }
}

.palette-terminal {
  @extend .paletterow;

  div {
    display: block;

    @extend %clearfix;

    + div {
      margin-top: $vrythm;
    }

    &.termcolours {
      font-family: $mono;
      text-transform: lowercase;
    }

    p {
      font-size: inherit;
    }
  }

  .paletteblock {
    @extend .paletteblock;

    @include tablet {
      margin: $sone / 16;
      width: ($measure / 8) - ($sone / 16) - ($sone / 16);
      height: ($measure / 8) - ($sone / 16) - ($sone / 16);
      line-height: ($measure / 8) - ($sone / 16) - ($sone / 16);
    }
  }
}

// Visual order
.visualorder {
  @extend .palette;
}
