.schemesmenu {
  position: relative;
  display: inline-block;
  margin-bottom: $vrythm * 2;

  @extend %clearfix;
}

.schemes-button {
  font-size: $ssize;
  font-weight: 400;
  padding: $sone;
  background: $lhl;
  color: $lt1;
  border: none;
  border-bottom: medium solid $primary1;
  cursor: pointer;

  @include transition;

  &:hover {
    background: darken($lbg, 2%);
    border-bottom: medium solid $primary2;
  }

  &:focus {
    border: none;
  }

  .deco-icon {
    stroke-width: 4px;
    padding-left: $sone / 2;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darken($lbg, 2%);

  @include shadow;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
    list-style-type: none;
    padding: $sone;
    margin: 0;

    li {
      -ms-flex-preferred-size: calc(calc(100% / 2) - 2rem);
      flex-basis: calc(calc(100% / 2) - 2rem);
      padding: $sone;
      margin: ($vrythm / 2) auto;

      @include tablet {
        -ms-flex-preferred-size: calc(calc(100% / 3) - 2rem);
        flex-basis: calc(calc(100% / 3) - 2rem);
      }

      a {
        border-bottom: none;
      }
    }
  }
}

.show {
  display: block;
  position: initial;
  max-width: $measure;

  @include transition;
}
