.packages {
    font-family: $fontui;
    margin: $vrythm 0;

    div {
        @include shadow;

        @include desktop {
            display: inline-block;
            float: left;
            font-size: $ssize;
            // NOTE 6rem is the added padding of mixin bigblock-outer
            width: ($measure - 6rem) / 2;
        }

        background: $lbg;
        color: $lt1;
        padding: $vrythm 0;
        text-align: center;

        + div {
            background: $dbg;
            color: $dt1;

            a {
                border: thin solid $light2;

                &:hover {
                    color: $dbg;
                }
            }
        }

        a {
            @include transition;
            @include radius(3%);

            border: thin solid $dark2;
            display: inline-block;
            padding: $shalf $sone;
            text-decoration: none;

            + a {
                margin-left: $sone;
            }

            &:hover {
                background: $primary1;
                border: thin solid $primary1;
                color: $lbg;
                text-decoration: none;
            }
        }

        span {
            @include tablet {
                font-size: $msize;
            }

            @include desktop {
                font-size: $ssize;
            }

            display: block;
            font-size: $ssize;
            margin: $vrythm 0 ($vrythm / 2);
        }

        code {
            @include tablet {
                font-size: $ssize;
            }

            font-size: $xxssize;

            &::before {
                color: $primary3;
                content: '$';
                display: inline-block;
                font-size: inherit;
                padding-right: $sone / 2;
            }
        }
    }
}

.codeblocks {
    margin: $vrythm 0;

    div {
        .highlight {
            @include shadow;

            background: $lbg;
            color: $lt1;

            .c,
            .cm,
            .cp,
            .c1,
            .cs,
            .gp {
                color: $lt2;
            }

            .o,
            .ge,
            .gh,
            .gi,
            .gu,
            .nl,
            .nn,
            .ow,
            .w {
                color: $lt1;
            }
        }

        &:nth-of-type(2n) {
            .highlight {
                background: $dbg;
                color: $dt1;

                .c,
                .cm,
                .cp,
                .c1,
                .cs,
                .gp {
                    color: $dt2;
                }

                .o,
                .ge,
                .gh,
                .gi,
                .gu,
                .nl,
                .nn,
                .ow,
                .w {
                    color: $dt1;
                }
            }
        }
    }
}
