.menu-social {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        @include desktop {
            margin-right: $sone * 0.25;
        }

        display: inline-block;
        margin-right: $sone / 2;
        padding: $sone / 2;

        &:first-of-type {
            padding: $shalf $shalf $shalf 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.headerbar-social {
    @include tablet {
        display: block;
    }
}
