.timeline {
  font-family: $fontui;
  display: block;
  margin: $vrythm 0;

  @extend %clearfix;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      padding: $sone;
      text-align: left;

      + li {
        border-top: thin solid $lbg;
      }

      &.none {
        background: $red;
      }

      &.partial {
        background: $vio;
      }

      &.full {
        background: $gre;
      }

      span {
        display: block;
        color: $lhl;

        &:nth-of-type(2) {
          color: $lbg;
        }
      }
    }
  }

  aside {
    small {
      display: block;

      &:nth-of-type(1) {
        font-weight: 700;
      }

      &:nth-of-type(2) {
        &::before {
          @include calendar-legend($red);
          @include radius(50%);
        }
      }

      &:nth-of-type(3) {
        &::before {
          @include calendar-legend($vio);
          @include radius(50%);
        }
      }

      &:nth-of-type(4) {
        &::before {
          @include calendar-legend($gre);
          @include radius(50%);
        }
      }
    }
  }
}
