// Typography -----------------------------

// Fonts
$serif: "Bitstream Charter", Georgia, serif;
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Liberation Sans", sans-serif;
$mono: Menlo, "Lucida Sans Typewriter", "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", Courier, monospace;
$font1: $serif; // Body
$font2: "Source Sans Pro", $sans; // Headings
$fontui: "Source Sans Pro", $sans;

// Scale ----------------------------------
$base-font-size: 18px;
$line-height: 1.44;
$heading-line-height: 1.2;
$vrythm: 1.44rem;
$msize: 1rem;
$jsize: 4.768rem;
$jjsize: 7.451rem;

// Minor third
$xxxlsize: 2.986rem;
$xxlsize: 2.488rem;
$xlsize: 1.728rem;
$lsize: 1.2rem;

// Major second
$ssize: 0.889rem;
$xssize: 0.79rem;
$xxssize: 0.702rem;

// Space  ---------------------------------
$shalf: 0.5rem;
$sone: 1rem;
$measure: 44rem;
$measure-xl: $measure + 14;

// Dividers
$dark1: rgba(#000, 0.05) !default;
$dark2: rgba(#000, 0.1) !default;
$dark3: rgba(#000, 0.3) !default;
$light1: rgba(#fff, 0.05) !default;
$light2: rgba(#fff, 0.1) !default;
$light3: rgba(#fff, 0.3) !default;
$penumbra: 0 1px 3px $dark2 !default;

// Viewports
$tablet: 44.375em;
$desktop: 75em;

// Colours  -------------------------------
// Hinterland theme
$dbg: #12171B !default; // Dark background
$dhl: #22272B !default; // Dark highlight
$dt2: #60604f !default; // Dark bg text secondary
$dt1: #8aa0a4 !default; // Dark bg text primary
$lbg: #f9f8fc !default; // Light background
$lhl: #e9e8ec !default; // Light highlight
$lt2: #768592 !default; // Light bg text secondary
$lt1: #3d463f !default; // Light bg text primary
$red: #983f16 !default; // Red
$ora: #9e6c3d !default; // Orange
$yel: #b09020 !default; // Yellow
$gre: #3D814C !default; // Green
$cya: #01917b !default; // Cyan
$blu: #217ab3 !default; // Blue
$vio: #7d6cab !default; // Violet
$mag: #ad5c5b !default; // Magenta

// Colour order
$primary1: $gre !default;
$primary2: $cya !default;
$primary3: $ora !default;
$secondary1: $vio !default;
$secondary2: $yel !default;
$tertiary1: $mag !default;
$tertiary2: $blu !default;
$tertiary3: $red !default;

// Base defaults
$text1: $lt1 !default;
$text2: $lt2 !default;
$bg: $lbg !default;
$bghl: $lhl !default;
$pagebg: #fff !default; // NOTE Only used for seabed due to dual dark bgs

// // NOTE only for july 12
// $text1: $dt1 !default;
// $text2: $dt2 !default;
// $bg: $dbg !default;
// $bghl: $dhl !default;
// $pagebg: darken($dbg, 2%) !default; // NOTE Only used for seabed due to dual dark bgs
// $dark1: $light1;
// $dark2: $light2;
// $dark3: $light3;

// Syntax defaults
$t1: $dt1 !default;
$t2: $dt2 !default;
$background: $dbg !default;
$highlight: $dhl !default;

// Mixins ---------------------------------

@mixin shadow {
  box-shadow: $penumbra;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin radius($degree) {
  border-radius: $degree;
}

@mixin transition {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

@mixin notification($bg-colour, $border-colour) {
  background: transparentize($bg-colour, 0.9);
  border-left: thick solid $border-colour;
  margin: $vrythm 0;
}

@mixin calendar-legend($calbg) {
  content: "";
  display: inline-block;
  background: #{$calbg};
  width: 1em;
  height: 1em;
  margin-right: $sone / 2;
  vertical-align: middle;
}

@mixin bigblock {
  padding-left: #{($measure-xl - $measure) / 2};
  padding-right: #{($measure-xl - $measure) / 2};
  margin-left: -#{($measure-xl - $measure) / 2};
  margin-right: -#{($measure-xl - $measure) / 2};
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Placeholders ---------------------------

%clearfix {
  &::before {
    content: '';
    display: table;
  }

  &::after {
    @extend %clearfix::before;
    clear: both;
  }
}

%pseudomark {
  display: inline;
  color: $text2;
  font-weight: 400;
}

%notification {
  font-family: $fontui;
  font-size: $ssize;
  padding: $sone;

  code {
    background: $dark1;
    border: thin solid $dark2;
  }

  a {
    border-bottom: thin solid $primary1;

    &:hover,
    &:active {
      border-bottom: thin solid $tertiary1;
    }
  }
}

%colourblock {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}
