/*
    Name: Archaic
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/archaic
*/

// Colour scheme
$dbg: #2e2926; // Dark background
$dhl: #3e3936; // Dark highlight
$dt2: #7e7976; // Dark bg text secondary
$dt1: #aea9a6; // Dark bg text primary
$lbg: #fef1d8; // Light background
$lhl: #eee1c8; // Light highlight
$lt2: #9e9178; // Light bg text secondary
$lt1: #5e5138; // Light bg text primary
$red: #ab5637; // Red
$ora: #c76d26; // Orange
$yel: #a97906; // Yellow
$gre: #688a38; // Green
$cya: #368876; // Cyan
$blu: #4884ad; // Blue
$vio: #8a6bb5; // Violet
$mag: #a25763; // Magenta

// Colour order
$primary1: $red;
$primary2: $yel;
$primary3: $ora;
$secondary1: $gre;
$secondary2: $mag;
$tertiary1: $vio;
$tertiary2: $cya;
$tertiary3: $blu;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
