/*
    Name: Caprice
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/caprice
*/
$dbg: #211b29; // Dark background
$dhl: #312b39; // Dark highlight
$dt2: #716b79; // Dark bg text secondary
$dt1: #a19ba9; // Dark bg text primary
$lbg: #fefbfc; // Light background
$lhl: #eeebec; // Light highlight
$lt2: #7e7b7c; // Light bg text secondary
$lt1: #2e2b2c; // Light bg text primary
$red: #983d4f; // Red
$ora: #9a5d38; // Orange
$yel: #a58a30; // Yellow
$gre: #278975; // Green
$cya: #587ebc; // Cyan
$blu: #585ebc; // Blue
$vio: #8955a2; // Violet
$mag: #ac4d7a; // Magenta

// Colour order
$primary1: $vio;
$primary2: $gre;
$primary3: $blu;
$secondary1: $cya;
$secondary2: $mag;
$tertiary1: $red;
$tertiary2: $ora;
$tertiary3: $yel;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
