/*
    Name: Cyprium
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/cyprium
*/

// Colour scheme
$dbg: #374934; // Dark background
$dhl: #475944; // Dark highlight
$dt2: #879984; // Dark bg text secondary
$dt1: #a7b9a4; // Dark bg text primary
$lbg: #ebe9da; // Light background
$lhl: #dbd9ca; // Light highlight
$lt2: #9b998a; // Light bg text secondary
$lt1: #6b695a; // Light bg text primary
$red: #a36a5f; // Red
$ora: #b37521; // Orange
$gre: #6b8c4a; // Green
$blu: #5c959a; // Blue
$mag: #bb6384; // Magenta
$yel: #a38e10; // Yellow
$cya: #5c9b85; // Cyan
$vio: #8b85ba; // Violet

// Colour order
$primary1: $yel;
$primary2: $ora;
$primary3: $gre;
$secondary1: $cya;
$secondary2: $blu;
$tertiary1: $red;
$tertiary2: $vio;
$tertiary3: $mag;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
