/*
    Name: Ficus
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/ficus
*/

// Colour scheme
$dbg: #27152c; // Dark background
$dhl: #37253c; // Dark highlight
$dt2: #67556c; // Dark bg text secondary
$dt1: #97859c; // Dark bg text primary
$lbg: #edf1e5; // Light background
$lhl: #dde1d5; // Light highlight
$lt2: #8d9185; // Light bg text secondary
$lt1: #5d6155; // Light bg text primary
$red: #aa3a5a; // Red
$ora: #ac6e00; // Orange
$yel: #a0a60a; // Yellow
$gre: #84a33c; // Green
$cya: #6cacab; // Cyan
$blu: #6d75cd; // Blue
$vio: #a46acd; // Violet
$mag: #cb5e9a; // Magenta

// Colour order
$primary1: $mag;
$primary2: $vio;
$primary3: $gre;
$secondary1: $yel;
$secondary2: $cya;
$tertiary1: $blu;
$tertiary2: $red;
$tertiary3: $ora;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
