/*
    Name: Gaia
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/gaia
*/

// Colour scheme
$dbg: #2d2e2f; // Dark background
$dhl: #3d3e3f; // Dark highlight
$dt2: #7d7e7f; // Dark bg text secondary
$dt1: #adaeaf; // Dark bg text primary
$lbg: #ebeddf; // Light background
$lhl: #dbddcf; // Light highlight
$lt2: #9b9d8f; // Light bg text secondary
$lt1: #6b6d5f; // Light bg text primary
$red: #9d6936; // Red
$ora: #b38121; // Orange
$gre: #8b9c3a; // Green
$blu: #6c9cba; // Blue
$mag: #bd9198; // Magenta
$yel: #bdaa4a; // Yellow
$cya: #85af85; // Cyan
$vio: #8a8db7; // Violet

// Colour order
$primary1: $red;
$primary2: $gre;
$primary3: $ora;
$secondary1: $cya;
$secondary2: $yel;
$tertiary1: $blu;
$tertiary2: $vio;
$tertiary3: $mag;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
