/*
    Name: Hinterland
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/hinterland
*/

// Colour scheme
$dbg: #12171b; // Dark background
$dhl: #22272b; // Dark highlight
$dt2: #60604f; // Dark bg text secondary
$dt1: #8aa0a4; // Dark bg text primary
$lbg: #f9f8fc; // Light background
$lhl: #e9e8ec; // Light highlight
$lt2: #768592; // Light bg text secondary
$lt1: #3d463f; // Light bg text primary
$red: #983f16; // Red
$ora: #9e6c3d; // Orange
$yel: #b09020; // Yellow
$gre: #3d814c; // Green
$cya: #01917b; // Cyan
$blu: #217ab3; // Blue
$vio: #7d6cab; // Violet
$mag: #ad5c5b; // Magenta

// Colour order
$primary1: $gre;
$primary2: $cya;
$primary3: $ora;
$secondary1: $vio;
$secondary2: $yel;
$tertiary1: $mag;
$tertiary2: $blu;
$tertiary3: $red;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
