/*
    Name: Magus
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/magus
*/

// Colour scheme
$dbg: #322a29; // Dark background
$dhl: #423a39; // Dark highlight
$dt2: #726a69; // Dark bg text secondary
$dt1: #a29a99; // Dark bg text primary
$lbg: #f2ede6; // Light background
$lhl: #e2ddd6; // Light highlight
$lt2: #a29d96; // Light bg text secondary
$lt1: #625d56; // Light bg text primary
$red: #bd5956; // Red
$ora: #bb7321; // Orange
$gre: #8b972a; // Green
$blu: #5c8caa; // Blue
$mag: #b881a8; // Magenta
$yel: #c1a222; // Yellow
$cya: #65ab85; // Cyan
$vio: #7a7da7; // Violet

// Colour order
$primary1: $ora;
$primary2: $red;
$primary3: $gre;
$secondary1: $cya;
$secondary2: $yel;
$tertiary1: $vio;
$tertiary2: $blu;
$tertiary3: $mag;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
