/*
    Name: Neptune
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/neptune
*/

// Colour scheme
$dbg: #282c36; // Dark background
$dhl: #383c46; // Dark highlight
$dt2: #686c76; // Dark bg text secondary
$dt1: #a8acb6; // Dark bg text primary
$lbg: #f0f1f8; // Light background
$lhl: #e0e1e8; // Light highlight
$lt2: #909198; // Light bg text secondary
$lt1: #404148; // Light bg text primary
$red: #a97552; // Red
$ora: #c78956; // Orange
$gre: #48b788; // Green
$blu: #3c8cbb; // Blue
$mag: #c789a6; // Magenta
$yel: #b9a552; // Yellow
$cya: #55afaf; // Cyan
$vio: #7a7dca; // Violet

// Colour order
$primary1: $blu;
$primary2: $mag;
$primary3: $cya;
$secondary1: $vio;
$secondary2: $gre;
$tertiary1: $red;
$tertiary2: $ora;
$tertiary3: $yel;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
