/*
    Name: Ocarina
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/ocarina
*/

// Colour scheme
$dbg: #212c2d; // Dark background
$dhl: #313c3d; // Dark highlight
$dt2: #616c6d; // Dark bg text secondary
$dt1: #919c9d; // Dark bg text primary
$lbg: #ebebe7; // Light background
$lhl: #dbdbd7; // Light highlight
$lt2: #9b9b97; // Light bg text secondary
$lt1: #6b6b67; // Light bg text primary
$red: #ba6f5b; // Red
$ora: #a2853a; // Orange
$yel: #93a34a; // Yellow
$gre: #3d9d54; // Green
$cya: #48a99b; // Cyan
$blu: #2aa2a5; // Blue
$vio: #7a99ba; // Violet
$mag: #a77b9b; // Magenta

// Colour order
$primary1: $gre;
$primary2: $cya;
$primary3: $ora;
$secondary1: $yel;
$secondary2: $vio;
$tertiary1: $blu;
$tertiary2: $red;
$tertiary3: $mag;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
