/*
    Name: Oliveira
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/oliveira
*/

// Variables ----------------------------
$dbg: #252922; // Dark background
$dhl: #353932; // Dark highlight
$dt2: #757972; // Dark bg text secondary
$dt1: #959992; // Dark bg text primary
$lbg: #f1f3eb; // Light background
$lhl: #e1e3db; // Light highlight
$lt2: #91938b; // Light bg text secondary
$lt1: #51534b; // Light bg text primary
$red: #a64e3c; // Red
$ora: #a35c35; // Orange
$gre: #5ca15a; // Green
$blu: #4a8dac; // Blue
$mag: #a95f85; // Magenta
$yel: #a59520; // Yellow
$cya: #5caa9a; // Cyan
$vio: #7c85b7; // Violet

// Colour order
$primary1: $gre;
$primary2: $vio;
$primary3: $blu;
$secondary1: $cya;
$secondary2: $mag;
$tertiary1: $ora;
$tertiary2: $yel;
$tertiary3: $red;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
