/*
    Name: Orionis
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/orionis
*/

// Colour scheme
$dbg: #1f2a2d; // Dark background
$dhl: #2f3a3d; // Dark highlight
$dt2: #5f6a6d; // Dark bg text secondary
$dt1: #8f9a9d; // Dark bg text primary
$lbg: #eff1f3; // Light background
$lhl: #dfe1e3; // Light highlight
$lt2: #8f9193; // Light bg text secondary
$lt1: #5f6163; // Light bg text primary
$red: #974f6c; // Red
$ora: #9d7427; // Orange
$gre: #5b935b; // Green
$blu: #4d8ab3; // Blue
$mag: #ad6e8f; // Magenta
$yel: #9a8f0c; // Yellow
$cya: #52a6ad; // Cyan
$vio: #7e7ead; // Violet

// Colour order
$primary1: $mag;
$primary2: $vio;
$primary3: $blu;
$secondary1: $cya;
$secondary2: $gre;
$tertiary1: $red;
$tertiary2: $ora;
$tertiary3: $yel;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
