/*
    Name: Seabed
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/seabed
*/

// Colour scheme
$dbg: #060d18; // Dark background
$dhl: #161d28; // Dark highlight
$dt2: #666d78; // Dark bg text secondary
$dt1: #969da8; // Dark bg text primary
$lbg: #162d38; // Light background
$lhl: #263d48; // Light highlight
$lt2: #667d88; // Light bg text secondary
$lt1: #96adb8; // Light bg text primary
$red: #78456b; // Red
$ora: #6a867a; // Orange
$yel: #6a865a; // Yellow
$gre: #2d886c; // Green
$cya: #35838c; // Cyan
$blu: #3a6a8d; // Blue
$vio: #4d5b94; // Violet
$mag: #846b85; // Magenta

// Colour order
$primary1: $blu;
$primary2: $vio;
$primary3: $mag;
$secondary1: $gre;
$secondary2: $cya;
$tertiary1: $yel;
$tertiary2: $red;
$tertiary3: $ora;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
$pagebg: $bg; // NOTE Only used for seabed due to dual dark bgs
