/*
    Name: Sonho
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/sonho
*/

// Colour scheme
$dbg: #4a3638; // Dark background
$dhl: #5a4648; // Dark highlight
$dt2: #8a7678; // Dark bg text secondary
$dt1: #baa6a8; // Dark bg text primary
$lbg: #fff0f2; // Light background
$lhl: #efe0e2; // Light highlight
$lt2: #8f8082; // Light bg text secondary
$lt1: #5f5052; // Light bg text primary
$red: #cd4679; // Red
$ora: #d9766d; // Orange
$gre: #11bf8c; // Green
$blu: #479cb5; // Blue
$mag: #dd619f; // Magenta
$yel: #d9a652; // Yellow
$cya: #5fb8b4; // Cyan
$vio: #a77ccf; // Violet

// Colour order
$primary1: $mag;
$primary2: $cya;
$primary3: $yel;
$secondary1: $ora;
$secondary2: $vio;
$tertiary1: $blu;
$tertiary2: $gre;
$tertiary3: $red;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
