/*
    Name: Termina
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/termina
*/

// Colour scheme
$dbg: #1a2225; // Dark background
$dhl: #2a3235; // Dark highlight
$dt2: #5a6265; // Dark bg text secondary
$dt1: #8a9295; // Dark bg text primary
$lbg: #fefcee; // Light background
$lhl: #eeecde; // Light highlight
$lt2: #9e9c8e; // Light bg text secondary
$lt1: #5e5c4e; // Light bg text primary
$red: #985637; // Red
$ora: #9d6a47; // Orange
$yel: #9a813d; // Yellow
$gre: #728852; // Green
$cya: #629298; // Cyan
$blu: #597899; // Blue
$vio: #8479a6; // Violet
$mag: #a3636d; // Magenta

// Colour order
$primary1: $gre;
$primary2: $vio;
$primary3: $ora;
$secondary1: $cya;
$secondary2: $blu;
$tertiary1: $mag;
$tertiary2: $yel;
$tertiary3: $red;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
