/*
    Name: Vin
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/vin
*/

// Colour scheme
$dbg: #181A28; // Dark background
$dhl: #282A38; // Dark highlight
$dt2: #626442; // Dark bg text secondary
$dt1: #6D8476; // Dark bg text primary
$lbg: #F0F2EA; // Light background
$lhl: #E0E2DA; // Light highlight
$lt2: #727584; // Light bg text secondary
$lt1: #3F4D24; // Light bg text primary
$red: #a3415c; // Red
$ora: #8d522d; // Orange
$yel: #7d851d; // Yellow
$gre: #487d14; // Green
$cya: #13865a; // Cyan
$blu: #5a5da8; // Blue
$vio: #8858a5; // Violet
$mag: #ac587a; // Magenta

// Colour order
$primary1: $gre;
$primary2: $vio;
$primary3: $red;
$secondary1: $mag;
$secondary2: $cya;
$tertiary1: $blu;
$tertiary2: $ora;
$tertiary3: $yel;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
$bghl: $lhl;
