/*
    Name: Vin
    Author: Protesilaos Stavrou (https://protesilaos.com)
    Theme URL: https://protesilaos.com/vin
*/

// Colour scheme
$dbg: #101d04; // Dark background
$dhl: #202d14; // Dark highlight
$dt2: #606d54; // Dark bg text secondary
$dt1: #b0bda4; // Dark bg text primary
$lbg: #effdd4; // Light background
$lhl: #dfedc4; // Light highlight
$lt2: #7f8d64; // Light bg text secondary
$lt1: #3f4d24; // Light bg text primary
$red: #a3415c; // Red
$ora: #8d522d; // Orange
$yel: #7d851d; // Yellow
$gre: #487d14; // Green
$cya: #13865a; // Cyan
$blu: #5a5da8; // Blue
$vio: #8858a5; // Violet
$mag: #ac587a; // Magenta

// Colour order
$primary1: $gre;
$primary2: $vio;
$primary3: $red;
$secondary1: $mag;
$secondary2: $cya;
$tertiary1: $blu;
$tertiary2: $ora;
$tertiary3: $yel;

// Site-wide colours ----------------------
$text1: $lt1;
$text2: $lt2;
$bg: $lbg;
