<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main id="content" aria-label="Content">
      <div>

        <div class="post-header">
          <div class="post-header-inner post-header-inner-index-xl">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <h2 class="subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            {% if page.index-feed %}
              <a class="index-rss-feed" href="{{ page.index-feed.url }}">{{ page.index-feed.text }}</a>
            {% endif %}
          </div>
        </div>

        <div class="index-xl">
          {{ content }}
        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
