---
layout: default
---
<div class="post-header">
  <div class="post-header-inner">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <time>{{ page.date | date: "%-d %B %Y" }}</time>
  </div>
</div>

<article class="post container">
  <div class="post-inner">
  {% if page.group == "Blog archive entries" %}
    <p class="warn">This post is archived. Opinions expressed herein may no longer represent my current views. Links, images and other media might not work as intended.</p>
  {% endif %}
  {{ content }}
  </div>
</article>

{% include donation.html %}

<div class="post-footer">
  <div class="post-footer-inner">
    {% include nextprev.html %}
  </div>
</div>
